body {
    display: inline;

}

.paral {
    min-height: 600px;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
    }
 /* Paragraph for Parallax Section */
 .paral p {
    font-size: 24px;
    color:#f5f5f5;
    text-align: center;
    line-height: 60px;
    }
 
    /* Heading for Parallax Section */
 .paral h1 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 60px;
    text-align: center;
    padding-top: 60px;
    line-height: 100px;
    }

.searchBar {
    position: relative;
    width: 500px;
    color: white;
}

    /* Image for Parallax Section */
.paralsec {
    background-image: url("../images/Food.jpg")
    }
 
    /* Add more images for more sections */
 
.button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
 }

 .shadow{
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
 }

 .card {
    display: inline-block;

}

.info{
    color: black;
}

.row {
    text-align: center;
}

 .favs{
     display:none;
 }

 @media (min-width: 600px) {
  body {
    background: white;  
    }
}